@model EmployeeAssist.Models.Information

<div class="row">
    @Html.HiddenFor(m => m.Id)
    <div class="col-sm-10">
        <h3>Description</h3>
        <p>@Model.Descrption</p>
    </div>
    @*<div class="col-sm-2">
            <a href=@Model.Url>@Model.Url </a>
        </div>*@
    @*<div class="col-sm-1">
            <img src=@Url.Content(Model.image.FileName) class="img-responsive" alt="Chania" />
        </div>*@
    @*<div class="col-sm-2">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
        </div>
    </div>*@
    <div class="col-sm-2">
        <button class="btn-primary btn-sm btn-default like-btn" type="button" id="btnLikes">
            <span class="glyphicon glyphicon-thumbs-up"></span>Liked
            <span class="badge like-badge active">@Model.Likes</span>
        </button>
    </div>
</div>  