<html>
<head>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Common.js"></script>
</head>
<body>

    <div class="row">
        <div class="col-sm-12">
            <h3>Description</h3>
            <p>
                nfosys Global Hackathon 2.0 is scheduled to be held in Q4 (Jan 2016 – Mar 2016) of FY2016 across DCs and Geo Clusters (GCs). All Infoscions are eligible to participate in this event.

                In order to facilitate more participation we have increased the number of tracks, so that individuals from different background/interest can pick a track of their choice.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-4">
            <div>
                <button class="btn-primary btn-sm btn-default like-btn" type="button" id="btnLikes">
                    <span class="glyphicon glyphicon-thumbs-up"></span>Liked
                    <span class="badge like-badge active">10</span>
                </button>
            </div>
        </div>

        <div class="col-xs-4">
            Post Date: 02/02/2016
        </div>

        <div class="col-xs-4">
            Most Recent Like: 02/02/2016
        </div>
    </div>
     <hr />

</body>
</html>